@import url("https://fonts.googleapis.com/css?family=Muli:400,700,800,900&display=swap");

.App {
	margin-top: 12.5vh;
	margin-bottom: 12.5vh;
	margin-left: 15vw;
	margin-right: 15vw;
	font-family: "Muli", sans-serif;
	/* background-color: aquamarine; */
}

/* ------------- */
/* COMPONENT CSS */
/* ------------- */

.header {
	display: inline-flex;
	width: 100%;
	/* background-color: aqua; */
}
/* LOGO */
.logo {
	width: 125px;
	height: 125px;
}
button {
	border: none;
	background-color: transparent;
	font-size: 20px;
	transition-duration: 0.5s;
}
.rhs {
	height: 30px;
	width: 30px;
}

/* SOCIALS */
.social {
	height: 40px;
	width: 40px;
	transition-duration: 1s;
	color: dimgray;
}
.social:hover {
	transform: scale(1.1);
}
#linkedin:hover {
	color: #0e76a8;
}
#instagram:hover {
	color: #C13584;
}

/* HEADLINE */
.wave {
	width: 70px;
	height: 70px;
}
#highlight {
	color: #33B8FF;
}
.cursor {
	position: relative;
}
.cursor	i {
	position: absolute;
	width: 4px;
	/* background-color: black; */
	height: 75%;
	left: 10px;
	top: 10%;
	animation-name: blink;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

/* BANNER */
.banner {
	width: 100%;
	border-radius: 10px;
	transition: 1s;
}
/* .banner:hover {
	transform: scale(1.01);
} */

/* ----- */
/* MEDIA */
/* ----- */
@media screen and (max-width: 959px) {
	.logo {
		width: 75px;
		height: 75px;
	}	
	.social {
		width: 30px;
		height: 30px;
	}
	.wave {
		width: 7vw;
		height: 7vw;
	}
	.rhs {
		width: 20px;
		height: 20px;
	}
}